@font-face {
  font-family: 'Tenada';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
}

@font-face {
  font-family: 'JalnanGothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 눈누기초고딕 */
@font-face {
  font-family: 'NoonnuBasicGothicRegular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 더페이스샵 */
@font-face {
  font-family: 'InkLipquid';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.markazi-text-uniquifier {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* 맑은 고딕 */
@font-face {
  font-family: "MalgunGothic"; 
  src:url(./imges/MalgunGothic.eot);
}

/* 수트 */
@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 경기천년바탕 */
@font-face {
  font-family: 'Gyeonggi_Batang_Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Batang_Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* KBO 다이아 고딕체*/
@font-face {
  font-family: 'KBO-Dia-Gothic_bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* 세방고딕 */
@font-face {
  font-family: 'SEBANG_Gothic_Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 산돌 삼립호빵체 OUTLINE */
@font-face {
  font-family: 'SDSamliphopangche_Outline';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 티웨이하늘체 */
@font-face {
  font-family: 'twaysky';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 산돌 삼립호빵체 basic */
@font-face {
  font-family: 'SDSamliphopangche_Basic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 학교안심 분필 */
@font-face {
  font-family: 'HakgyoansimBunpilR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimBunpilR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 능소화 */
@font-face {
  font-family: 'GrandifloraOne-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/GrandifloraOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 김좌진장군체 */
@font-face {
  font-family: 'GenKJwajinOTF-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GenKJwajinOTF-Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 고운바탕 */
@font-face {
  font-family: 'GowunBatang-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 문경감홍사과 */
@font-face {
  font-family: 'Mungyeong-Gamhong-Apple';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/Mungyeong-Gamhong-Apple.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 온글잎 의연체 */
@font-face {
  font-family: 'Uiyeun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Uiyeun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}